[submodule "Renderer/Lib/SDL"]
	path = Renderer/Lib/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "Renderer/Lib/volk"]
	path = Renderer/Lib/volk
	url = https://github.com/zeux/volk.git
[submodule "Renderer/Lib/VulkanMemoryAllocator"]
	path = Renderer/Lib/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Renderer/Lib/cgltf"]
	path = Renderer/Lib/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
[submodule "Renderer/Lib/KTX-Software"]
	path = Renderer/Lib/KTX-Software
	url = https://github.com/KhronosGroup/KTX-Software.git
[submodule "Renderer/Lib/imgui"]
	path = Renderer/Lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Renderer/Lib/meshoptimizer"]
	path = Renderer/Lib/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "Renderer/Lib/SPIRV-Cross"]
	path = Renderer/Lib/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "Demo/Lib/glm"]
	path = demo/lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "Demo/Lib/SDL"]
	path = demo/lib/SDL
	url = https://github.com/libsdl-org/SDL.git
